<div class="coverpicture">	
	<h2><strong>Das Team</strong></h2>
</div>

<div class="under_construction_section">
	<div class="container">
		<p>Hier wird bald unser großartiges Team vorgestellt!</p>
		<div>
			<img class="constructionPicture img-responsive center-block" src="images/constructionSign.png"/>		
		</div>
	</div>
</div>