<div class="coverpicture">	
	<h2><strong>Die "Pink Elephant"-Familie</strong></h2>
</div>
<div class="community_header_section">
	<br /><br />
	<div class="container">
		<div class="familiebox" ng-repeat="box in boxes">
			<h4>{{box.name}}</h2>
			<div class="row">
				<div class = "familiemain col-xs-10 col-sm-10 col-md-10">
					<p class="primary-link2">{{box.title}}</p>
					<span>{{box.description}}</span>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2">
					<span class="fa fa-heart-o"> {{box.like}}</span>
				</div>
			</div>

		<div class="familiefooter">	

			<span class="primary-link fa fa-heart-o">
				<span style ='font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;'></span>
			</span> &nbsp;&nbsp;&nbsp;

			<span class="primary-link">
				Kommentar
			</span>

		</div>

		</div>

	</div>
</div>
