<div class="coverpicture">
  <!-- <h1>Werde sozial  aktiv und beweg etwas in deiner Stadt!</h1> -->
  
</div>

<div class="home_section_projects">
  <div class="container">

    <h4 class="home_section_headline">Aktuelle Projekte</h4>
      <div class="row">
        <div ng-repeat="project in projects" class="col-sm-6 col-md-4 home_section_column">
          <div class="home_section_item" ng-click="go('projectprofile.campaign', {projectId: project.id })">
            <homeitem-directive iteminfo="project"></homeitem-directive>
          </div>
        </div>
        <!-- <div class="hidden-xs col-sm-6 col-md-4 home_section_column">
          <div class="home_section_item" ng-click="go('projectprofile.campaign', {projectId: projects[1].id })">
            <homeitem-directive iteminfo="projects[1]"></homeitem-directive>
          </div>
        </div>
        <div class="hidden-xs hidden-sm col-md-4 home_section_column">
          <div class="home_section_item" ng-click="go('projectprofile.campaign', {projectId: projects[2].id })">
            <homeitem-directive iteminfo="projects[2]"></homeitem-directive>
          </div>
        </div>
        <div class="hidden-xs hidden-sm col-md-4 home_section_column">
          <div class="home_section_item" ng-click="go('projectprofile.campaign', {projectId: projects[2].id })">
            <homeitem-directive iteminfo="projects[2]"></homeitem-directive>
          </div>
        </div>
        <div class="hidden-xs hidden-sm col-md-4 home_section_column">
          <div class="home_section_item" ng-click="go('projectprofile.campaign', {projectId: projects[2].id })">
            <homeitem-directive iteminfo="projects[2]"></homeitem-directive>
          </div>
        </div> -->
    </div>
    <a href="#projects" style="float:right; clear:both; margin-top:10px;">mehr...</a>
  </div>
</div>

<div class="home_section_ideas">
  <div class="container">

    <h4 class="home_section_headline">Die besten Ideen</h4>
      <div class="row">
        <div class="col-sm-6 col-md-4 home_section_column">
          <div class="home_section_item" ng-click="go('projectprofile.campaign', {projectId: {{home.ideas[0].id}} })">
            <homeitem-directive iteminfo="home.ideas[0]"></homeitem-directive>
          </div>
        </div>
        <div class="hidden-xs col-sm-6 col-md-4 home_section_column">
          <div class="home_section_item" ng-click="go('projectprofile.campaign', {projectId: {{home.ideas[1].id}} })">
            <homeitem-directive iteminfo="home.ideas[1]"></homeitem-directive>
          </div>
        </div>
        <div class="hidden-xs hidden-sm col-md-4 home_section_column">
          <div class="home_section_item" ng-click="go('projectprofile.campaign', {projectId: {{home.ideas[2].id}} })">
            <homeitem-directive iteminfo="home.ideas[2]"></homeitem-directive>
          </div>
        </div>
    </div>
    <a href="#ideas" style="float:right; clear:both; margin-top:10px;">mehr...</a>
  </div>
</div>

<div class="home_section_success_stories">
  <div class="container">

    <h4 class="home_section_headline">Erfolgsgeschichten</h4>
      <div class="row">
        <div class="col-sm-6 col-md-4 home_section_column">
          <div class="home_section_item" ng-click="go('projectprofile.campaign', {projectId: {{home.success_stories[0].id}} })">
            <homeitem-directive iteminfo="home.success_stories[0]"></homeitem-directive>
          </div>
        </div>
        <div class="hidden-xs col-sm-6 col-md-4 home_section_column">
          <div class="home_section_item" ng-click="go('projectprofile.campaign', {projectId: {{home.success_stories[1].id}} })">
            <homeitem-directive iteminfo="home.success_stories[1]"></homeitem-directive>
          </div>
        </div>
        <div class="hidden-xs hidden-sm col-md-4 home_section_column">
          <div class="home_section_item" ng-click="go('projectprofile.campaign', {projectId: {{home.success_stories[2].id}} })">
            <homeitem-directive iteminfo="home.success_stories[2]"></homeitem-directive>
          </div>
        </div>
    </div>
    <a href="#success_stories" style="float:right; clear:both; margin-top:10px;">mehr...</a>
  </div>
</div>
