<div class="coverpicture">	
	<h2><strong>So funktioniert's</strong></h2>
</div>

<div class="under_construction_section">
	<div class="container">
		<p>Hier befindet sich bald eine Step-by-Step-Anleitung, wie du mit <b>Pink Elephant</b> soziale Projekte unterstützen kannst.</p>
		<div>
			<img class="constructionPicture img-responsive center-block" src="images/constructionSign.png"/>		
		</div>
	</div>
</div>
