<div class="coverpicture">	
	<h2><strong>Ideen</strong></h2>
</div>

<div class="under_construction_section">
  <div class="container">
	<p>Hier befindet sich bald die Übersicht über alle Ideen.</p>
	<!-- <form action="/_ah/upload/ahJ0ZXN0aW5nZ29lc29uLTExMDVyIgsSFV9fQmxvYlVwbG9hZFNlc3Npb25fXxiAgICAgICYCww" method="post" enctype="multipart/form-data"> -->
	<!--<form ng-submit="uploadImage()">
		<input type="text" name="foo">
		<input type="file" file-model="myFile">
		<input type="submit" value="Einreichen">
	</form> -->
	<!-- <div ng-style="{'margin-top': '50px', 'background-image': 'url(' + data.customImage + ')'}"> -->
	<!-- <div style="margin-top: 50px; height:400px; background-image: url({{data.customImage}})"> -->

	<!--<img src = "{{data.customImage}}" style="width:300px; height:auto;"> -->
		<div>
			<img class="constructionPicture img-responsive center-block" src="images/constructionSign.png"/>		
		</div>
  </div>
</div>