<div  class="coverpicture"> 
  <h2><strong>Projektübersicht</strong></h1>
</div>

  <!-- <a ui-sref="projectcreation" class="addproject form-control btn btn-primary submitbtn">Projekt hinzufügen</a> -->
  
<div class="project_section_filterbar">
 <div class="container">
  <h2>Welche Projekte interessieren dich?</h2>
    <form class="form-horizontal" novalidate role="form">
      <div class="form-group col-xs-12 col-sm-6 col-md-6">
                <label class="control-label col-xs-12 col-sm-4 col-md-4" for="title">Projekttitel</label> <!-- project title -->
                <div class="col-xs-12 col-sm-8 col-md-8">
                  <input class="form-control" id="title" placeholder="Titel eingeben" ng-model="filter.titelsuche">
                </div>
      </div>

      <div class="form-group col-xs-12 col-sm-6 col-md-6">
                <label class="control-label col-xs-12 col-sm-4 col-md-4" for="keyaspect">Kernaspekte</label> <!-- key aspects -->
                <div class="col-xs-12 col-sm-8 col-md-8">
                  <input class="form-control" id="keyaspect" ng-model="filter.keyaspectssuche" placeholder="Kernaspekt eingeben">
                </div>
      </div>

      <div class="form-group  col-xs-12 col-sm-6 col-md-6">
            <label class="control-label col-xs-12 col-sm-4 col-md-4" for="filter_cause">Soziales Anliegen</label> <!-- social cause -->
            <div class="col-xs-12 col-sm-8 col-md-8">
              <select class="form-control" id="filter_cause" ng-model="select.cause">
                <option value=""><---Select---></option> <!-- blank option -->
                <option>Umwelt</option> <!-- Environment / Umwelt-->
                <option>Tierschutz</option> <!-- Animals / Tierschutz-->
                <option>Kinder</option> <!-- Children / Kinder-->
                <option>Flüchtlinge</option> <!-- Refugees / Flüchtlinge-->
                <option>Verschiedenes</option> <!-- Various causes / Verschiedenes -->
              </select>
            </div>
      </div>

      <div class="form-group  col-xs-12 col-sm-6 col-md-6">
            <label class="control-label col-xs-12 col-sm-4 col-md-4" for="filter_support">Unterstützung durch</label>
            <div class="col-xs-12 col-sm-8 col-md-8">
              <select class="form-control" id="filter_support" ng-model="select.support">
                <option value=""><---Select---></option> <!-- blank option -->
                <option>Geldspenden</option> <!-- Money / Geldspenden -->
                <option>Arbeitskraft</option> <!-- Manpower / Arbeitskraft -->
                <option>Ressourcen</option> <!-- Resources / Ressourcen -->
                <option>Wissen</option> <!-- Skills & Connections / Wissen -->
                <option>Andere Unterstützung</option> <!-- Other support / Andere Unterstützung -->
              </select>
            </div>
      </div>
    <div class = "filterfooter">
      <input value="Projekte filtern" ng-click="getProjectsByFilter()" class="addproject form-control btn btn-primary submitbtn"/>
      <a ng-click="gotoProjectCreation('projectcreation')" class="addproject form-control btn btn-primary submitbtn">Projekt hinzufügen</a>
    </div>
    </form>
 </div>
</div>

<!-- This is the area to present all projects a user has created himself -->
<!--
<div class="my_projects_overview" ng-hide="myProjects === undefined || myProjects == [] || myProjects.length == 0">
  <div class="container">
    <h2 class="project_section_headline">Meine Projekte:</h2>
      <div class="row">
        <div class="col-sm-6 col-md-4 project_section_column" ng-repeat="myproject in myProjects">
          <div class="project_section_item" ng-click="go('projectprofile.campaign', {projectId: myproject.id })">
            <homeitem-directive iteminfo="myproject"></homeitem-directive>
          </div>
        </div>
      </div>
  </div>
</div> -->

<!-- This is the area to present all projects that fit to the project types of a user-->
<div class="my_projects_overview" ng-hide="isUserOrganization() || !isUserLoggedIn()">
  <div class="container">
    <h2 class="project_section_headline">Projektvorschläge für dich:</h2>
    <!--<h4 class="project_section_headline" ng-repeat="type in $root.globals.currentUser.user.projectType | filter: true">Gefiltert nach: {{type}}</h4> -->
    <h4 class="project_section_headline" ng-show="suggestedProjects.length == 0 || suggestedProjects === undefinded || suggestedProjects == []">Leider gibt es keine passenden Projekte für deine Interessen. Aber schau doch dir doch mal die anderen Projekte an unter "Alle Projekte".</h4>
      <div class="row">
        <div class="col-sm-6 col-md-4 home_section_column" ng-repeat="suggestedProject in suggestedProjects">
          <div class="home_section_item" ng-click="go('projectprofile.campaign', {projectId: suggestedProject.id })">
            <homeitem-directive iteminfo="suggestedProject"></homeitem-directive>
          </div>
        </div>
      </div>
  </div>
</div>

<!-- This is the area to present all projects that match the filter criteria-->
<div class="project_section_overview" ng-hide="allProjects === undefined || allProjects == [] || allProjects.length == 0">
  <div class="container">
    <h2 class="project_section_headline">Alle Projekte:</h2>
    <!--<h2 class="project_section_headline" ng-hide="select.cause === undefined && setFilter == false">Alle Projekte (gefiltert nach {{ select.cause }}):</h2> -->
      <div class="row">
          <div ng-repeat="aProject in allProjects" class="col-sm-6 col-md-4 home_section_column">
            <div class="home_section_item" ng-click="go('projectprofile.campaign', {projectId: aProject.id })">
              <homeitem-directive iteminfo="aProject"></homeitem-directive>
            </div>
          </div>
      </div>
  </div>
</div>