<div class="projectcreation_bg">
  <div class="projectcreation">

    <div ng-show="!isUserLoggedIn()" style="height:100px">
      <h3>Du musst eingeloggt sein, um ein Projekt erstellen zu können.</h3>
      <a ui-sref="login" class="btn btn-primary">Login</a>
    
    </div>
    <div ng-show="isUserLoggedIn() && !isUserOrganizationRepr()" style="height:100px">
      <h3>Nur Institutionen dürfen Projekte erstellen.</h3>
    
    </div>
    <div ng-show="isUserLoggedIn() && isUserOrganizationRepr()">
      <form class="form-horizontal" name="loginForm" ng-submit="loginForm.submit()" novalidate role="form">

            <h3 class="projcreationtitle">Erstelle ein Projekt</h3>
            <div data-ng-show="page==1">
                    <div class="form-group">
                      <label class="control-label col-xs-12 col-sm-2 col-md-2" for="title">Title</label>
                      <div class="col-xs-12 col-sm-10 col-md-10">
                        <input class="form-control" id="title" placeholder="Titel eingeben" ng-model="project.projectTitle">
                      </div>
                    </div> 
                    <div class="form-group">
                      <label class="control-label col-xs-12 col-sm-2 col-md-2" for="mission">Mission</label>
                      <div class="col-xs-12 col-sm-10 col-md-10">
                        <textarea class="form-control input" id="mission" placeholder="Projektmission eingeben" ng-model="project.projectMission"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-xs-12 col-sm-2 col-md-2" for="description">Beschreibung</label>
                      <div class="col-xs-12 col-sm-10 col-md-10">
                        <textarea class="form-control input" id="description" placeholder="Projektbeschreibung eingeben" ng-model="project.projectDescription"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-xs-12 col-sm-2 col-md-2" for="startdate">Startdatum</label>
                      <div class="col-xs-12 col-sm-4 col-md-4">
                        <input class="date-picker form-control date" id="startdate" placeholder="Startdatum" ng-model="project.startDate" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-xs-12 col-sm-2 col-md-2" for="duedate">Enddatum</label>
                      <div class="col-xs-12 col-sm-4 col-md-4">
                        <input class="date-picker form-control date"  id="duedate" placeholder="Enddatum" ng-model="project.endDate" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-xs-12 col-sm-2 col-md-2" for="location">Standort</label>
                      <div class="col-xs-12 col-sm-10 col-md-10">
                        <input class="form-control" id="location" placeholder="Standort eingeben" ng-model="project.location">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-xs-12 col-sm-2 col-md-2" for="location">Projektbild</label>
                      <div class="col-xs-12 col-sm-10 col-md-10">
                        <input type="file" file-model="picture" class="form-control" id="cover" placeholder="Bild hochladen" >
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-xs-12 col-sm-2 col-md-2" for="location">Soziales Anliegen</label>
                      <div class="col-xs-12 col-sm-10 col-md-10">
                          <select class="form-control" id="sel1" ng-model="project.projectType">
                            <option>Umwelt</option> <!-- Environment / Umwelt-->
                            <option>Tierschutz</option> <!-- Animals / Tierschutz-->
                            <option>Kinder</option> <!-- Children / Kinder-->
                            <option>Flüchtlinge</option> <!-- Refugees / Flüchtlinge-->
                            <option>Verschiedenes</option> <!-- Various causes / Verschiedenes -->
                          </select>
                      </div>
                    </div>
            </div>
            <div data-ng-show="page==2">
              <h5 style="margin-left:10px; margin-bottom:15px; color:#666;">Bitte gib Erfolgsfaktoren für dein Projekt an.</h5>
              <div ng-repeat="successFactor in project.successFactors">
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2 col-md-2" for="successfactor{{$index}}">{{$index+1}}</label>
                    <div class="col-xs-12 col-sm-10 col-md-10">
                      <div class="input-group">
                        <input class="form-control" id="successfactor{{$index}}" placeholder="Erfolgsfaktor angeben" ng-model="successFactor.message">
                        <span class="input-group-btn">
                          <button class="btn btn-danger" type="button" ng-click="deleteSuccessfactor($index)">x</button>
                        </span>
                      </div>
                    </div>
                </div>
              </div>
              <div class="btn btn-info" style="float:right; clear:both;" ng-click="addSuccessFactor()">Hinzufügen</div>
              <h5 style="margin-left:10px; margin-bottom:15px; margin-top:80px; color:#666;">Bitte gib deine Kernbedürfnisse an. Interessierte Personen können diese unterstützen!</h5>
              <div ng-repeat="keyNeed in project.keyNeeds">
                <div style="margin-left:10px; margin-top:20px;">{{$index+1}}. Kernbedürfnisse</div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2 col-md-2" for="keyNeed{{$index}}">Titel</label>
                    <div class="col-xs-12 col-sm-10 col-md-10">
                      <input class="form-control" id="keyNeed{{$index}}" placeholder="Kernbedürfnisse angeben" ng-model="keyNeed.title">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2 col-md-2" for="keyNeed{{$index}}">Anzahl</label>
                    <div class="col-xs-12 col-sm-10 col-md-10">
                      <input class="form-control" id="keyNeed{{$index}}" placeholder="Gesamtbedarf angeben" ng-model="keyNeed.totalNeeds">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2 col-md-2" for="keyNeed{{$index}}">Einheit</label>
                    <div class="col-xs-12 col-sm-10 col-md-10">
                      <input class="form-control" id="keyNeed{{$index}}" placeholder="Einheit angeben (z.B. €)" ng-model="keyNeed.dimension">
                    </div>
                </div>
              </div>
              <div class="btn btn-info" style="float:right; clear:both;" ng-click="addKeyNeed()">Hinzufügen
              </div>
            </div>
      <div class="row footerbar" style="padding-top:50px;">
          <div class="col-xs-12">
            <input value="Zurück" style="float:left;" type="submit" class="btn btn-primary footerbutton" data-ng-click="page>1 ? page=page-1 : null" ng-show="page > 1"/>
            <div ng-show="page==2" class="form-group" style="margin-top:0px;">
                <input value="Projekt speichern" type="submit" class="form-control btn btn-primary addproject" ng-click="saveProject()" />
            </div>
            <input value="Weiter" style="float:right;" type="submit" class="btn btn-primary footerbutton" data-ng-click="page<2 ? page=page+1 : null" ng-hide="page==2" />
          </div>
      </div>
              
        </form>

    </div>
  </div>
</div>

    