<div class="projectprofile">
	<div class="top-area">
		<div class="container profile">
			<div class="row title">
				<h2>{{profileProject.title}}</h2>
				<p> initiert durch <b>{{profileProject.sponsor}}</b>. Idee von <b>{{profileProject.ideaFrom}}</b>.</p>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-8 ">
					<div ng-if="profileProject.imageUrl">
					    <img style="width:550px;" ng-src="{{profileProject.imageUrl}}=s550" err-src="images/sampleProject.jpg" />
					</div>
					<div ng-if="!profileProject.imageUrl">
					  <img style="width:550px;" src="images/sampleProject.jpg"/>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 keyfacts">
					<div class="fact">
						<b>{{profileProject.totalCountSupporter}}</b>
						<div class="small_typefont">Unterstützer</div>
					</div>
					<div class="fact">
						<b>{{ profileProject.totalNeedsMet | percentage:0}}</b> <!-- How to calculate? -->
						<div class="small_typefont">Bedürfnisse versorgt</div>
					</div>
					<div class="fact">
						<b>{{profileProject.daysSinceProjectStart}}</b>
						<div class="small_typefont">Tage seit Projektstart</div>
					</div>
					<div class="support_button">
						<div class="btn btn-lg btn-primary" ng-click="open()">Supporter werden</div>
					</div>
				</div>
			</div>
			<div class="row success_factors" >
				<div ng-repeat="factor in profileProject.successFactors">
					<i class="fa fa-dot-circle-o factor"></i><h5>{{factor.message}}</h5>
				</div>
			</div>
		</div>
		<div class="navigation" >
			<div class="container profile">
				<ul class="nav-ul">
					<li ng-repeat="detail in projectprofile.details" style={{detail.lstyle}}><a ui-sref={{detail.link}} class={{detail.lclass}} ng-click="projectprofile.getCategory(detail)" ng-class="{active:projectprofile.isActive(detail)}">{{detail.llabel}}</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="detail-content">
		<div class="container profile">
			<div class="row" style="margin-top:20px;">
				<div class="col-xs-12 col-sm-8" ui-view>
					
				</div>
				<div class="hidden-xs col-sm-4">
					<h4>Hilf uns mit...</h4>
					<div class="key-need" ng-repeat="need in profileProject.keyNeeds">
						<h5>{{need.title}}</h5>
						<div>
							{{need.needsMet}} von {{need.totalNeeds}} {{need.dimension}} bereits geschafft!
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="myModalContent2.html">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Supporter werden</h4>
        </div>
       <form class="form-horizontal" role="form">
        <div class="modal-body" ng-show="isUserLoggedIn() && page==1">
        		<div class="form-group">
                <label class="control-label col-xs-12 col-sm-4 col-md-4" for="keyneeds">Kernbedürftnisse:</label>
	        		<div class="col-xs-12 col-sm-8 col-md-8">
			              <select class="form-control" id="keyneed_selection" ng-model="selectedItem" ng-options='item as (item.title) for item in profileProject.keyNeeds track by item.id '>
			               </select>
			               
	            	</div>
            	</div>
          
          		<div class="form-group">
                <label class="control-label col-xs-12 col-sm-4 col-md-4" for="currentneeds">Gesamter Bedarf:</label>
                <div class="col-xs-12 col-sm-8 col-md-8">
                  	<p class="form-control-static" id="currentneeds">{{selectedItem.totalNeeds}}</p>
                </div>
      			</div>

      			<div class="form-group">
                <label class="control-label col-xs-12 col-sm-4 col-md-4" for="meedsmet">Gedeckter Bedarf:</label>
                <div class="col-xs-12 col-sm-8 col-md-8">
                  	<p class="form-control-static" id="needsmet">{{selectedItem.needsMet}}</p>
                </div>
      			</div>

      			<div class="form-group">
                <label class="control-label col-xs-12 col-sm-4 col-md-4" for="currentneeds">Dimension:</label>
                <div class="col-xs-12 col-sm-8 col-md-8">
                  	<p class="form-control-static" id="currentneeds">{{selectedItem.dimension}}</p>
                </div>
      			</div>

      			<div class="form-group">
                <label class="control-label col-xs-12 col-sm-4 col-md-4" for="donation">Spendenbetrag:</label>
                <div class="col-xs-12 col-sm-8 col-md-8">
                  	<input class="form-control" id="donation" type="number" step="0.01" ng-model="donation"  min="0.01" required />
                </div>
      			</div>
        </div>
        <div ng-show="isUserLoggedIn() && page==2" class="modal-body">
				    <h3>Sind Sie sicher, dass Sie die Spende machen wollen?</h3>
	    </div>
        <div ng-show="!isUserLoggedIn()" class="modal-body">
				    <h3>Du musst eingeloggt sein, um ein Supporter zu werden.</h3>
	    </div>
        <div class="modal-footer">
        	<span style="float:left;" ng-show="isUserLoggedIn()">Schritt {{page}} von 2</span>
        	<button class="addproject form-control btn btn-primary submitbtn" ng-click="ok()">{{Label}}</button>
          	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Schließen</button>
        </div>
        </form>
</script>
