<div class="coverpicture">	
	<h2><strong>Erfolgsgeschichten</strong></h2>
</div>

<div class="under_construction_section">
	<div class="container">
		<p>Hier befindet sich bald die Übersicht über alle Erfolgsgeschichten.</p>
		<div>
			<img class="constructionPicture img-responsive center-block" src="images/constructionSign.png"/>		
		</div>
	</div>
</div>
