@brand-primary:         	darken(#E5508F, 3.5%); 
@brand-success:         	#5cb85c;
@brand-info:            	#948991;
@brand-warning:         	#f0ad4e;
@brand-danger:          	#d9534f;

//maincolors
// @color-project-bg:			rgba(37, 167, 181, 0.25);
// @color-project-bg:			lighten(#A4D66D, 30%);
@color-project-bg:			lighten(@brand-primary, 42%);
// @color-ideas-bg:			rgba(245, 151, 37, 0.25);
@color-ideas-bg:			#F0F0F0;
// @color-ideas-bg:			lighten(@brand-primary, 42%);
// @color-success_stories-bg:	rgba(194, 126, 147, 0.25);
@color-success_stories-bg:	lighten(#574361,60%);

@color-filter-bg:           rgba(251,184,162,0.24);
@color-meine-bg:			rgba(194,126,147,0.25);
@color-form-link:			#00B4FF;

@custom-btn-bg:         	@brand-primary;
@custom-btn-border:     	darken(@custom-btn-bg, 5%);
@custom-btn-bg-hover:		lighten(@custom-btn-bg, 15%); //default is 10%
@custom-btn-border-hover:	darken(@custom-btn-border, 12%); //default is 12%

//project keyneed color bg:
//948991




//just some showcasing of the way you define variables in less
// lightblue: D0D9E5
// cool green/blue: 00D9C0
// 

/**
 * angular form validation classes
 */
.ng-touched.ng-valid{
	border-color: @brand-success;
}

.ng-dirty.ng-invalid{
	border-color: @brand-danger;
}

/**
 * general stuff
 */
.header{
	margin-bottom: 0;
}

@media screen and (max-width: 768px){
	.header{
		padding-right: 0;
		padding-left: 0;
	}
}

.primary-link{
    color: @brand-primary !important; 
    font-weight: bold;
    cursor:pointer;

    &:hover{
    	text-decoration: none;
    	color:	@custom-btn-bg-hover !important;
		// background-color: #ba005d; //before #ed0077
		// border-color: #96004c; //before #d4006a
    }
}

/**
 * styling for landing page
 */
.home_section_projects{
	background-color: @color-project-bg;
	padding-bottom: 50px;

	// #main-content{
	//     min-height: 100%;
	//     height: auto;
	//   }
	  .row {
	    overflow-x:scroll;
	    overflow-y:hidden;
	    white-space:nowrap;
	  }
	  .row [class*="col-lg"], .row [class*="col-md"], .row [class*="col-sm"] {
	    float:none;
	    display:inline-block;
	    white-space:normal;
	    vertical-align:top;
	  }
}

.home_section_ideas{
	background-color: @color-ideas-bg;
	padding-bottom: 50px;
}

.home_section_success_stories{
	background-color: @color-success_stories-bg;
	padding-bottom: 50px;
}

.home_section_headline{
	margin-top: 35px;
}

.home_section_column{
	max-height: 580px; 
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;
	// background-color: #fff;
	padding: 5px 30px;
	background-clip: padding-box;
    border: 10px solid transparent;
    cursor: pointer;
}
// .home_section_column:last-child{
// 	border-right: 1px solid #eee;
// }

.home_section_item{
	margin-left: -15px; 
	margin-right: -15px;
	background-color: #fff;
	// border-top-left-radius:10px; 
	// border-top-right-radius: 10px; 
	border-radius: 10px;
	border: 1px solid #bbb;
}

.home_section_item_img{
	width:100%; 
	height:250px;
	border-top-left-radius:10px; 
	border-top-right-radius: 10px; 
}

.home_section_item_text{
	margin-left:15px; 
	margin-right:15px;
}

// @media screen and (max-width: 768px){
// 	.section_headline{
// 		margin-left:15px;
// 	}
// }

.container.profile{
	max-width: 970px;
}

/**
 * styling for project overview page
 */
.project_section_filterbar{
	background-color: @color-filter-bg;
	padding-bottom: 10px;

	.filterfooter{
		text-align:center;
	}
}

.my_projects_overview{
		background-color: @color-meine-bg;
}

.project_section_overview{
	background-color: @color-project-bg;
	padding-bottom: 50px;
}

.project_section_headline{
	margin-top: 35px;
}

.project_section_column{
	height: 580px; 
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;
	background-color: #fff;
	background-clip: padding-box;
    border: 10px solid transparent;
    cursor: pointer;
}
/*.project_section_column:last-child{
	border-right: 1px solid #eee;
}*/


.project_section_item{
	margin-left: -15px; 
	margin-right: -15px;
}

.project_section_item_img{
	width:100%; 
	height:300px;
}

.project_section_item_text{
	margin-left:15px; 
	margin-right:15px;
}

.container.profile{
	max-width: 970px;
}


/**
 * everything concerning the login and register pages
 */


.loginRegister_main{
	background-color: @color-project-bg;
	padding-top: 60px;
	padding-bottom: 40px;
	min-height:550px;

	.container.loginRegister, .container.profile{
		padding-top:40px;
		padding-left:0px;
		padding-right:0px;
		max-width: 400px;
		background-color: #fff;
		border-radius: 10px;
		border: 1px solid #ccc;
	}

	.container.profile{
		max-width: 600px !important;

		.submitbtn{
			max-width: 200px;
			display:block;
			margin-left: auto;
    		margin-right: auto;
		}

		.typeicons{
			cursor: pointer;
			width:40px;
			margin-bottom:5px;
		}
	}

	.loginRegister_form{
		padding-right:20px; 
		padding-left:20px;

		.title{
			font-size:35px; 
			margin-bottom:20px;
		}

		.input{
			height:38px; 
			margin-top:20px;

			&:first-child{
				margin-top:0px;
			}
		}

		.submitbtn{
			margin-top:8px; 
			height:38px;
		}
	}

	.form_href{
		float:right; 
		clear:both; 
		color:@color-form-link;
		font-size:13px;
		margin-top:10px;

		&:hover{
			text-decoration: none;
			color: darken(@color-form-link, 20%);
		}
	}

	.bottom_area{
		height:70px; 
		background-color:#eee; 
		border-bottom-left-radius:10px; 
		border-bottom-right-radius: 10px; 
		width:100%; 
		border-top: 1px solid #ccc; 
		line-height:70px; 
		padding-left:40px; 
		padding-right:40px; 
		text-align:center;
		margin-top:60px;
	}


}


.Register_main{
	background-color: @color-project-bg;
	padding-top: 60px;
	padding-bottom: 40px;

	.container.loginRegister{
		padding-top:40px;
		padding-left:0px;
		padding-right:0px;
		max-width: 1200px;
		background-color: #fff;
		border-radius: 10px;
		border: 1px solid #ccc;
		height: auto; 
		position:relative;
	}

	.Register_form{
		padding-right:20px; 
		padding-left:20px;

		.title{
			font-size:35px; 
			margin-bottom:20px;
		}

		.input{
			height:38px; 
			margin-top:20px;

			&:first-child{
				margin-top:0px;
			}

			&:nth-child(4){
				float:right;
			}
		}

		.name{
			width: 48%;
			display: inline;
		}

		textarea{
			height: initial !important;
			resize: none;
		}

		.submitsection{
			text-align: center;
		}

		.submitbtn{
			width: 40%;
			margin-top:8px; 
			height:38px;
		}
	}

	.form_href{
		float:right; 
		clear:both; 
		color:@color-form-link;
		font-size:13px;
		margin-top:10px;

		&:hover{
			text-decoration: none;
			color: darken(@color-form-link, 20%);
		}
	}

	.bottom_area{
		position:absolute; 
		bottom:0px; 
		height:70px; 
		background-color:#eee; 
		border-bottom-left-radius:10px; 
		border-bottom-right-radius: 10px; 
		width:100%; 
		border-top: 1px solid #ccc; 
		line-height:70px; 
		padding-left:40px; 
		padding-right:40px; 
		text-align:center;
	}
}

/**
 * everything concerning the projectprofile page
 */

.projectprofile{

	.top-area{
		background-color: @color-project-bg;
	}

	.title{
		text-align: center; 
		margin-top: 20px;
	}

	.picture{
	// needs to be loaded dynamically through webservice & angular controller coding
		// background-image: url('/images/raising-hands.jpg'); 
		width: 300px;
		height:auto;
	}

	.keyfacts{
		height: 75px; 
		font-size: 50px; 
		padding-left: 50px;

		.fact{
			margin-top:10px;

			&:first-child{
				margin-top: 0px;
			}
		}
		.small_typefont{
			font-size: 18px; 
			margin-top: -10px;
		}
		.support_button{
			margin-top:40px; 
			font-size:20px;
		}
	}

	.success_factors{
		margin-top: 30px; 
		color:#555;

		.factor{
			float:left; 
			margin-right:5px;
		}
	}

	.navigation{
		border-top: 1px solid #ddd; 
		border-bottom: 1px solid #ddd; 
		margin-top: 30px; 
		background-color:#fff; 
		height: 50px; 
		line-height: 50px; 
		font-weight: bold;

		.nav-ul{
			list-style-type: none; 
			margin: 0; 
			padding: 0;
		}

		.nav-a{
			text-decoration: none; 
			color:#000; 
			padding-bottom: 5px;
		}
		.nav-a.active{
			border-bottom: 3px solid #FF0080; 
		}
	}

	.detail-content{
		min-height: 400px; 
		background-color:#fff;
		padding-bottom: 100px;

		.key-need{
			background-color: #948991;
			margin-top: 10px; 
			padding: 15px; 
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px; 
			color:#333;
			// border: 3px solid #776C74;

			&:first-child{ //not working... fix!
				margin-top: 20px;
			}
		}
	}
}


.addproject{
		min-width: 150px;
	    margin-left: auto;
	    margin-right: auto;
	    max-width: 150px;
	}

.projectcreation_bg{
	background-color: @color-project-bg;
	padding-top: 50px;
	padding-bottom: 40px;
	min-height:550px;
}

.projectcreation{
	background-color: #fff;
	border-radius: 10px;
	max-width:600px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding: 15px;
	padding-left:20px;
	padding-right:20px;
	border: 1px solid #ccc;

    .projcreationtitle{
    	padding: 5px;
    	margin-bottom: 15px;
    }

	.overview{
	    // margin-top: 10px;

	}

	.preview{
		background-color:rgba(245,151,37,0.25);
		margin-top: 10px;
	    padding: 15px;
	    border-radius: 5px;
	    overflow: hidden;
	}

	.input{
		// resize: none;
	}

	.name{
		display: inline !important;
	}

	.dropdown-toggle{
		min-width:250px;
	}

	.dropdown-menu{
		min-width:250px;
	}

	.previewimage{
		max-width: 100%;
    	max-height: 100%;
	}

	.previewdiv{
		background-color: #DADFE1 !important;
	    float: left;
	    width: 100%;
	    border-radius: 5px;
	    margin-top: 5px;
		margin-left: 0; 
    	margin-right: 0;
	}

	.footerbutton{
		color: white;
	    float: left;
	    background-color: #F1A9A0;
	    border: none;
	    max-width: 100px;
	    display: inline;
	}

	.footerbar{
		text-align: center;
	}
}

//Sites under construction

.under_construction_section{
	padding-bottom: 10px;
	min-height: 550px;

	.constructionPicture2{
		//display:block;
		//margin: 0 auto;
		width: 480px;
		height: 160px;
		padding:1px;
		//border-top-left-radius:10px; 
		//border-top-right-radius: 10px; 
	}

	.constructionPicture{
		//display:block;
		//margin: 0 auto;
		width:500px;
		height:290px; 
		//border-top-left-radius:10px; 
		//border-top-right-radius: 10px; 
	}
}

.community_header_section{
	padding-bottom: 10px;
	min-height: 550px;
	background-color: @color-project-bg;;

	.familiebox{
		    max-width: 900px;
		    margin-left: auto;
		    margin-right: auto;
		    border-radius: 10px;
		    border: 1px solid #ecf0f1;
		    padding: 10px;
		    background-color: #FFFFFF;

		    h2, .row{
		    	//border-bottom: 1px solid; //#90C695;
		    }

		    .row{
		    	margin:0 !important;

		    			.fa{
						float:right;
						font-size: 20px !important;
						font-weight: bold;
					}
		    }

	.familiemain{
		padding-left:40px;
		padding-bottom:15px;

		p{
			font-size: 32px !important;
		}
	}

	row	{

	}

	 .familiefooter{ 
	    text-align: right;
    	margin-top: 5px;
    }

	.primary-link{
		font-size: 16px !important;
	}

	.primary-link2{
		font-size: 32px;
	}

  }
	
}



