    <div class="container loginRegister">
        <div class="loginRegister_form">
            <p class="title">Anmelden</p>
            <form name="loginRegisterForm" ng-submit="submit(email, password)" novalidate role="form">
                <div class="form-group">
                    <!-- <span class="label label-danger" data-ng-show="submitted && loginForm.email.$error.required">Required!</span> -->
                    <!-- <span class="label label-danger" data-ng-show="submitted && loginForm.$error.email">Invalid email!</span> -->
                    <input placeholder="E-Mail" type="email" name="email" data-ng-model="email" class="form-control input" required />  
                </div>
                <div class="form-group">
                    <!-- <span class="label label-danger" data-ng-show="loginForm.password.$error.required">Passwort vergessen?</span> -->
                    <!-- <span class="label label-danger" data-ng-show="submitted && loginForm.$error.password">Invalid email!</span> -->
                    <input  placeholder="Passwort" type="password" name="password" data-ng-model="password" class="form-control input" ng-minlength="8" required />  
                </div>

                <input value="Anmelden" type="submit" class="form-control btn btn-primary submitbtn"/>
            </form>
            <a ui-sref="home" class="form_href">Passwort vergessen?</a>
        </div>
        <div class="bottom_area">noch keinen Account? <a ui-sref="register" class="primary-link" style="margin-left:10px;">Registrieren</a></div>
    </div>
