<div class="loginRegister_main">
    <div class="container loginRegister">
        <div class="loginRegister_form">
            <p class="title">Registrieren</p>
            <form name="loginForm" ng-submit="submit()" novalidate role="form">
                <div class="form-group">
                    <input placeholder="E-Mail" type="email" name="email" ng-model="userObject.email" class="form-control input" required />
                </div>
                <div class="form-group">
                    <input  placeholder="Passwort" type="password" name="password" data-ng-model="userObject.password" class="form-control input" ng-minlength="8" required />  
                </div>
                <div class="form-group" style="margin-top:40px;">
					<input placeholder="Vorname" name="firstname" class="form-control input name" data-ng-model="firstname" required />
                </div>
                <div class="form-group">
					<input placeholder="Nachname" name="lastname" class="form-control input name" data-ng-model="lastname" required />
                </div>
                <div class="form-group">
					<input placeholder="Adresse" name="address"  class="form-control input" data-ng-model="userObject.address" required/>
                </div>
                <div class="form-group">
                	<input placeholder="Geburtsdatum" name="dob" id="date-picker" type="text" class="date-picker form-control input" data-ng-model="userObject.birthDate" required />
                </div>
                <div class="form-group" style="margin-top:40px;">
                    <!-- <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info active">
                            <input ng-model="userObject.isOrganization" type="radio" value="true" autocomplete="off" checked> Privatperson
                        </label>
                        <label class="btn btn-info">
                            <input ng-model="userObject.isOrganization" type="radio" value="false" autocomplete="off"> Institution
                        </label>
                    </div> -->
                    <div class="btn-group" data-toggle="buttons">
                        <div class="btn btn-info {{buttonIsActive('false')}}" ng-click="setIsOrganization('false')">Privatperson</div>
                        <div class="btn btn-info {{buttonIsActive('true')}}" ng-click="setIsOrganization('true')">Organisation</div>
                    </div>
                </div>
                <div ng-show="userObject.organization === 'true'">
                    <div class="form-group">
                        <input placeholder="Titel" type="text" class="form-control input" data-ng-model="userObject.organizationObject.organizationTitle" />
                    </div>
                    <div class="form-group">
                        <input placeholder="Adresse" type="text" class="form-control input" style="margin-top:10px;" data-ng-model="userObject.organizationObject.address" />
                    </div>
                    <div  class="form-group">
                        <input placeholder="Telefon" type="text" class="form-control input" style="margin-top:10px;" data-ng-model="userObject.organizationObject.phoneNumber" />
                    </div>
                </div>

                <input value="Registrieren" type="submit" class="form-control btn btn-primary submitbtn" style="margin-top:20px; margin-bottom:-30px;"/>
            </form>
        </div>
        <div class="bottom_area">schon angemeldet? <a ui-sref="login" class="primary-link" style="margin-left:10px;">Login</a></div>
    </div>
</div>












