<div class="loginRegister_main">

	<div ng-show="!isUserLoggedIn()">
	  <ng-include src="'views/partials/loginRegister/login.html'"></ng-include>
	</div>
	<div ng-show="isUserLoggedIn()">

		<div class="container profile">
		<h2 align="center">Hallo {{ $root.globals.currentUser.user.userName }}! Hier findest du deine persönlichen Daten!</h2>
			<div class="loginRegister_form">
            <p class="title"></p>
            <form name="userProfile" ng-submit="submit()" novalidate role="form" class="form-horizontal">
                <div class="form-group">
                	<label class="control-label col-xs-12 col-sm-4 col-md-4" for="email">E-Mail:</label>
                    <div class="col-xs-12 col-sm-8 col-md-8">
                        <input class="form-control" id="email" placeholder="Email" ng-model="$root.globals.currentUser.user.email">
                     </div>
                </div>

                <div class="form-group">
                      <label class="control-label col-xs-12 col-sm-4 col-md-4" for="name">Name:</label>
                      <div class="col-xs-12 col-sm-8 col-md-8">
                        <input class="form-control" id="name" placeholder="Name" ng-model="$root.globals.currentUser.user.userName">
                      </div>
                 </div>
                 <div class="form-group">
                      <label class="control-label col-xs-12 col-sm-4 col-md-4" for="birthdate">Geburtsdatum:</label>
                      <div class="col-xs-12 col-sm-8 col-md-8">
                        <input class="date-picker form-control" id="birthdate" placeholder="Birthdate" ng-model="birthdate">
                        <!--$root.globals.currentUser.user.birthDate | date : 'd. MMMM yyyy'-->
                      </div>
                 </div>
                 <div class="form-group">
                      <label class="control-label col-xs-12 col-sm-4 col-md-4" for="addres">Adresse:</label>
                      <div class="col-xs-12 col-sm-8 col-md-8">
                        <input class="form-control" id="adress" placeholder="Address" ng-model="$root.globals.currentUser.user.address">
                      </div>
                 </div>
                 <div class="form-group">
                      <label class="control-label col-xs-12 col-sm-4 col-md-4" for="benutzer">Benutzertyp:</label>
                      <div class="col-xs-12 col-sm-8 col-md-8">
                        <input class="form-control" id="usertype" placeholder="User Type" 
                        ng-value="globals.currentUser.user.organization ? 'Organisation' : 'Privatperson'" disabled>
                      </div>
                 </div>
                <!-- <div class="form-group" style="margin-top:40px;">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info active">
                            <input ng-model="userObject.isOrganization" type="radio" value="true" autocomplete="off" checked> Privatperson
                        </label>
                        <label class="btn btn-info">
                            <input ng-model="userObject.isOrganization" type="radio" value="false" autocomplete="off"> Institution
                        </label>
                    </div> 
                    <div class="btn-group" data-toggle="buttons">
                        <div class="btn btn-info {{buttonIsActive('false')}}" ng-click="setIsOrganization('false')">Privatperson</div>
                        <div class="btn btn-info {{buttonIsActive('true')}}" ng-click="setIsOrganization('true')">Organisation</div>
                    </div>-->
                <div class="form-group" ng-show='globals.currentUser.user.organization == false'>
                 <label class="control-label col-xs-12 col-sm-4 col-md-4" for="location">Interesse:</label>
                      <div class="col-xs-12 col-sm-8 col-md-8">
	                          <img ng-src="{{EnvironmentIcon}}" ng-click="iconClick(1)" class="typeicons"/>&nbsp;&nbsp;Umwelt<br />
                            <img ng-src="{{AnimalsIcon}}" ng-click="iconClick(2)" class="typeicons"/>&nbsp;&nbsp;Tierschutz<br />
                            <img ng-src="{{ChildrenIcon}}" ng-click="iconClick(3)" class="typeicons"/>&nbsp;&nbsp;Kinder<br />

                            <img ng-src="{{RefugeesIcon}}" ng-click="iconClick(4)" class="typeicons"/>&nbsp;&nbsp;Flüchtlinge<br />
                            <img ng-src="{{VariousIcon}}" ng-click="iconClick(5)" class="typeicons"/>&nbsp;&nbsp;Verschiedenes<br />
                      </div>
                </div>

                <!-- Verfügbarkeit of User -->
                <div class="form-group" ng-show='globals.currentUser.user.organization == false'>
                 <label class="control-label col-xs-12 col-sm-4 col-md-4" for="location">Verfügbarkeit:</label>
                      <div class="col-xs-12 col-sm-8 col-md-8">
                        
                        <span class="nopadding col-xs-12 col-sm-12 col-md-12">
                            <!-- <label class="checkbox-inline"><input type="checkbox"
                            ng-true-value="'Monday'">Montag</label>
                            <label class="checkbox-inline"><input type="checkbox"
                            ng-true-value="'Dientag'">Dienstag</label>
                            <label class="checkbox-inline"><input type="checkbox"
                            ng-true-value="'Mittwoch'">Mittwoch</label>
                            <label class="checkbox-inline"><input type="checkbox"  -->
                            <label class="checkbox-inline col-xs-5 col-sm-5 col-md-5"><input type="checkbox" 
                            ng-true-value="'Monday'">Montag</label>
                            <label class="checkbox-inline col-xs-5 col-sm-5 col-md-5"><input type="checkbox" 
                            ng-true-value="'Dientag'">Dienstag</label>
                         </span>
                         <span class="nopadding col-xs-12 col-sm-12 col-md-12">
                            <label class="checkbox-inline col-xs-5 col-sm-5 col-md-5"><input type="checkbox"
                            ng-true-value="'Mittwoch'">Mittwoch</label>
                            <label class="checkbox-inline col-xs-5 col-sm-5 col-md-5"><input type="checkbox"
                            ng-true-value="'Donnerstag'">Donnerstag</label>
                          </span>
                         <span class="nopadding col-xs-12 col-sm-12 col-md-12">
                            <!-- <label class="checkbox-inline"><input type="checkbox"
                            ng-true-value="'Freitag'">Freitag</label>
                            <label class="checkbox-inline"><input type="checkbox" 
                            ng-true-value="'Samstag'">Samstag</label>
                            <label class="checkbox-inline"><input type="checkbox"  -->
                            <label class="checkbox-inline col-xs-5 col-sm-5 col-md-5"><input type="checkbox"
                            ng-true-value="'Freitag'">Freitag</label>
                            <label class="checkbox-inline col-xs-5 col-sm-5 col-md-5"><input type="checkbox"
                            ng-true-value="'Samstag'">Samstag</label>
                         </span>
                          <span class="nopadding col-xs-12 col-sm-12 col-md-12">
                            <label class="checkbox-inline"><input type="checkbox"
                            ng-true-value="'Sonntag'">Sonntag</label>
                         </span>
                         <span class="nopadding col-xs-12 col-sm-12 col-md-12">
                            &nbsp;
                        </span>
                         <span class="nopadding col-xs-12 col-sm-12 col-md-12">
                            <label class="checkbox-inline"><input type="checkbox" ng-model="time.regular" 
                            ng-true-value="'Weekly'">Wöchentlich</label>
                        </span>
                        <span class="nopadding col-xs-12 col-sm-12 col-md-12">
                            <label class="checkbox-inline"><input type="checkbox" ng-model="time.regular" 
                            ng-true-value="'Monthly'">Monatlich</label>
                        </span>
                        <span class="nopadding col-xs-12 col-sm-12 col-md-12" ng-show="time.regular == 'Monthly'">
                            <label class="checkbox-inline col-xs-5 col-sm-5 col-md-5"><input type="checkbox" ng-model="time.week" 
                            ng-true-value="'1'">1. Woche</label>
                            <label class="checkbox-inline col-xs-5 col-sm-5 col-md-5"><input type="checkbox" ng-model="time.week" 
                            ng-true-value="'2'">2. Woche</label>
                        </span>
                        <span class="nopadding col-xs-12 col-sm-12 col-md-12" ng-show="time.regular == 'Monthly'">
                            <label class="checkbox-inline col-xs-5 col-sm-5 col-md-5"><input type="checkbox" ng-model="time.week"
                            ng-true-value="'3'">3. Woche</label>
                            <label class="checkbox-inline col-xs-5 col-sm-5 col-md-5"><input type="checkbox" ng-model="time.week"
                            ng-true-value="'4'">4. Woche</label>
                         </span>
                        <span class="nopadding col-xs-12 col-sm-12 col-md-12">
                            &nbsp;
                        </span>
                        <span class="nopadding col-xs-12 col-sm-12 col-md-12">
                            <label class="checkbox-inline"><input type="checkbox" ng-model="time.regular" 
                            ng-true-value="'Once'">Einmalig</label>
                            <input class="date-picker form-control input" type="text" id="Datum" placeholder="Datum" ng-model="time.day" ng-show="time.regular == 'Once'">
                        </span>
                      </div>
                </div>

                <div class="form-group" ng-show='globals.currentUser.user.organization == true'>
                 <label class="control-label col-xs-12 col-sm-4 col-md-4" for="orgtitle">Titel der Organisation:</label>
                      <div class="col-xs-12 col-sm-8 col-md-8">
                            <input class="form-control" id="orgtitle" placeholder="Organization Title" ng-model="$root.globals.currentUser.user.organizationObject.organizationTitle">
                      </div>
                </div>

                <div class="form-group" ng-show='globals.currentUser.user.organization == true'>
                 <label class="control-label col-xs-12 col-sm-4 col-md-4" for="orgadress">Adresse der Organisation:</label>
                      <div class="col-xs-12 col-sm-8 col-md-8">
                            <input class="form-control" id="orgadress" placeholder="Organization Address" ng-model="$root.globals.currentUser.user.organizationObject.address">
                      </div>
                </div>

                <div class="form-group" ng-show='globals.currentUser.user.organization == true'>
                 <label class="control-label col-xs-12 col-sm-4 col-md-4" for="orgtelefon">Telefonnummer:</label>
                      <div class="col-xs-12 col-sm-8 col-md-8">
                            <input class="form-control" id="orgtelefon" placeholder="Organization Telefon" ng-model="$root.globals.currentUser.user.organizationObject.phoneNumber">
                      </div>
                </div>

                <input type="button" value="Speichern" class="form-control btn btn-primary submitbtn" style="margin-top:20px; margin-bottom:-30px;" ng-click="updateUser()"/>
            </form>
        </div>
			<div class="bottom_area">Nicht {{ $root.globals.currentUser.user.userName }}? <a ng-click="logout()" class="primary-link" style="margin-left:10px;">Logout</a></div>
		</div>
	</div>
</div>
