<div ng-if="iteminfo.imageUrl">
    <img class="home_section_item_img" ng-src="{{iteminfo.imageUrl}}" err-src="images/sampleProject.jpg" />
</div>
<div ng-if="!iteminfo.imageUrl">
  <img class="home_section_item_img" src="images/sampleProject.jpg"/>
</div>

<div class="home_section_item_text">
  <h4>{{iteminfo.title}}</h4>
  <p style="height:60px; overflow: hidden;">{{iteminfo.description}}</p>
</div>

<!-- <div style="display:block; text-align: center; border: 1px solid #eee; height: 60px; background-color: #eee"> -->
<div style="background-color:#eee; padding-right:10px; padding-left:10px; padding-top:12px; height:40px;">
  <div class="progress" style=" height:15px; margin-bottom:10px;">
    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="{{iteminfo.needsMet}}" aria-valuemin="0" aria-valuemax="1" style="width: {{iteminfo.needsMet * 100}}%; min-width:8%; border-radius:10px;">
      <!-- <span >{{iteminfo.needsMet | percentage:0}}</span> -->
    </div>
    <!-- div style="text-align:right">
    	gedeckter Bedarf  
    </div> -->
  </div>
</div>
<!-- </div> -->

<div style="width: 100%; text-align: right; padding:0px 15px;">
  initiiert durch
</div>

<div style="width:100%; text-align: right; padding:0px 15px; padding-bottom:10px;">
  <b>{{iteminfo.ideaFrom}}</b>
</div>