<ul class="nav navbar-nav">
	<li ng-class="{'active' : nav.isActive(nav.PROJECTS)}" ng-click="nav.setIsActive(nav.PROJECTS)"><a ui-sref="projects">Projekte</a></li>
	<li ng-class="{'active' : nav.isActive(nav.IDEAS)}" ng-click="nav.setIsActive(nav.IDEAS)"><a ui-sref="ideas">Ideen</a></li>
	<li ng-class="{'active' : nav.isActive(nav.SUCCESS_STORIES)}" ng-click="nav.setIsActive(nav.SUCCESS_STORIES)"><a ui-sref="success_stories">Erfolgsgeschichten</a></li>
	<li ng-class="{'active' : nav.isActive(nav.COMMUNITY)}" ng-click="nav.setIsActive(nav.COMMUNITY)"><a ui-sref="community">"Pink Elephant"-Familie</a></li>
	<li ng-class="{'active' : nav.isActive(nav.HOW_IT_WORKS)}" ng-click="nav.setIsActive(nav.HOW_IT_WORKS)"><a ui-sref="how_it_works">So funktioniert's</a></li>
	<li ng-class="{'active' : nav.isActive(nav.ABOUT)}" ng-click="nav.setIsActive(nav.ABOUT)"><a ui-sref="about">Das Team</a></li>
	<li  ng-click="nav.setIsActive(nav.USERPROFILE)"><a ui-sref="login" class="primary-link">{{nav.loginTitle()}}</a></li>
</ul>