<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" ng-click="nav.setIsActive(nav.HOME)" href="#home"><img src="images/logo.png" style="width:90px; height: auto"></a>
    </div>

    <div class="collapse navbar-collapse" id="js-navbar-collapse">
      <div ng-include="'views/templates/navigation/template_navbar_content.html'"></div>
    </div>
  </div>
</div>