<div class="Register_main">
	<div class="container loginRegister">
		<div class="Register_form">
			<p class="title">Registrieren</p>
			<form name="loginForm" ng-submit="loginForm.submit()" novalidate role="form">
				<div class="subform col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<!-- <span class="label label-danger" data-ng-show="submitted && loginForm.email.$error.required">Required!</span> -->
						<!-- <span class="label label-danger" data-ng-show="submitted && loginForm.$error.email">Invalid email!</span> -->
						<input placeholder="E-Mail" type="email" name="email"class="form-control input" data-ng-model="userObject.email" required />  
						<input  placeholder="Password" type="password" name="password"class="form-control input" ng-minlength="8" data-ng-model="userObject.password" required />  
						<input placeholder="Vorname" name="firstname" class="form-control input name" data-ng-model="firstname" required />
						<input placeholder="Nachname" name="lastname" class="form-control input name" data-ng-model="lastname" required />
						<textarea placeholder="Main Goal" name="maingoal" class="form-control input" data-ng-model="userObject.mainGoal" required />  
					</div>
				</div>
				<div class="subform col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
					<input placeholder="Persönliche Webseite" type="personalwebsite" name="personalwebsite" data-ng-model="userObject.personalwebsite" class="form-control input" required/>
					<input placeholder="Adresse" name="address"  class="form-control input" data-ng-model="userObject.address" required/>
					 <input placeholder="Geburtsdatum" name="dob" id="date-picker" type="text" class="date-picker form-control input" data-ng-model="userObject.birthDate" required />
						<!-- <span class="label label-danger" data-ng-show="loginForm.password.$error.required">Passwort vergessen?</span> -->
						<!-- <span class="label label-danger" data-ng-show="submitted && loginForm.$error.password">Invalid email!</span> -->
					<textarea placeholder="Hobbys" type="hobbies" name="hobbies" data-ng-model="userObject.hobbys" class="form-control input" required />		
					</div>
				</div>
				<div class="submitsection col-md-12">
					<input value="Konto Erstellen" type="submit" class="form-control btn btn-primary submitbtn" data-ng-click="submit()"/>
				</div>
			</form>
			<a ui-sref="login" class="form_href">Sie haben sich schon angemeldet?</a>
		</div>
		<!--<div class="bottom_area">Sie haben sich schon angemeldet? <a ui-sref="login" class="primary-link" style="margin-left:10px;">Einloggen</a></div>-->
	</div>
</div>