<h4>Feedback</h4>
	<div class="container"> <!-- change -->
            <form class="form-horizontal col-xs-12 col-sm-6 col-md-6" name="feedbackForm" ng-submit="sendFeedback()" novalidate role="form">
                <div class="form-group">
                    <!-- <span class="label label-danger" data-ng-show="submitted && loginForm.email.$error.required">Required!</span> -->
                    <!-- <span class="label label-danger" data-ng-show="submitted && loginForm.$error.email">Invalid email!</span> -->
                    <input placeholder="E-Mail" type="email" name="email" data-ng-model="email" class="form-control input" ng-hide="isUserLoggedIn()" required />  
                    <input placeholder="Benutzername" name="userName" data-ng-model="$root.globals.currentUser.user.userName" class="form-control input" ng-show="isUserLoggedIn()" disabled />
                </div>
                <!-- probably a select-option list with feeback topic eg. overall project, key needs, donations, questions, ...-->
                <div class="form-group">
                      <!--<label class="control-label col-xs-12 col-sm-2 col-md-2" for="feedback">Feedback</label> -->
                      <!-- <div class="col-xs-12 col-sm-10 col-md-10"> -->
                      <textarea class="form-control input" id="feedback" placeholder="Bitte trage hier dein Feeback zum Projekt / zu den Projektzielen / den Kernbedürftnissen ein oder stelle deine Frage." ng-model="projectFeedback"></textarea>
                      <!-- </div> -->
                </div>

                <input value="Absenden" type="submit" class="form-control btn btn-primary submitbtn"/>
            </form>
        </div>
    </div>